<div class="p-5"></div>
<div class="text-center">
  <p class="lead display-5">Danh sách khách hàng</p>

    <button type="button" class="btn btn-outline-info" data-mdb-ripple-color="dark" routerLink="/create">
      Thêm mới khách hàng
    </button>

</div>
<div class="p-2"></div>
<table class="table table-striped table-hover">
  <thead class="bg-light">
  <tr>
    <th>Id</th>
    <th>Mã khách hàng</th>
    <th>Tên</th>
    <th>Ngày sinh</th>
    <th>Giới tính</th>
    <th>CMND</th>
    <th>Số điện thoại</th>
    <th>Email</th>
    <th>Địa chỉ</th>
    <th>Loại</th>
    <th>Chỉnh Sửa</th>
    <th>Xoá</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let customer of customerList">
    <td>{{customer.id}}</td>
    <td>{{customer.customerCode}}</td>
    <td>{{customer.customerName}}</td>
    <td>{{customer.customerDateOfBirth}}</td>
    <td>{{customer.customerGender}}</td>
    <td>{{customer.customerIdCard}}</td>
    <td>{{customer.customerPhone}}</td>
    <td>{{customer.customerEmail}}</td>
    <td>{{customer.customerAddress}}</td>
    <td>{{customer.customerTypeId}}</td>
    <td>
      <button>
        <a
          class="btn btn-warning">Sửa</a>
      </button>
    </td>
    <td>
      <button>
        <a onclick="deleteCustomer($(this))" type="button"
           class="btn btn-warning" data-toggle="modal" data-target="#customer-modal">Xoá
        </a>
      </button>
    </td>
  </tr>
</table>
<nav class="my-4" aria-label="...">
  <ul class="pagination pagination-circle justify-content-center">
    <li class="page-item">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item active" aria-current="page">
      <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
    </li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>





