<div class="container" id="ngoc-container">
  <div class="text-center">
    <p class="lead display-5">Danh sách khách hàng</p>
    <button type="button" class="btn btn-outline-info" data-mdb-ripple-color="dark" routerLink="/create">
      Thêm mới khách hàng
    </button>
  </div>
  <div class="p-2"></div>
  <table class="table table-striped table-hover">
    <thead class="bg-light">
    <tr>
      <th>Id</th>
      <th>Mã khách hàng</th>
      <th>Tên</th>
      <th>Ngày sinh</th>
      <th>Giới tính</th>
      <th>CMND</th>
      <th>Số điện thoại</th>
      <th>Email</th>
      <th>Địa chỉ</th>
      <th>Loại</th>
      <th>Chỉnh Sửa</th>
      <th>Xoá</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let customer of customerList; index as i">
      <td>{{i + 1}}</td>
      <td>{{customer.customerCode}}</td>
      <td>{{customer.customerName}}</td>
      <td>{{customer.customerDateOfBirth}}</td>
      <td>{{customer.customerGender}}</td>
      <td>{{customer.customerIdCard}}</td>
      <td>{{customer.customerPhone}}</td>
      <td>{{customer.customerEmail}}</td>
      <td>{{customer.customerAddress}}</td>
      <td>{{customer.customerTypeId}}</td>
      <td>
        <button>
          <a [routerLink]="['/customer/edit',customer.id]"
             class="btn btn-warning">Sửa</a>
        </button>
      </td>
      <td>
        <button>
          <!--        <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="basicModal.show()" mdbWavesEffect>xoa</button>-->
          <a  style="color: darkviolet" class="fas far fa-trash-alt delete_btn" data-mdb-toggle="modal"
             data-mdb-target="#deleteModal" (click)="sendCustomerInfo(customer.id, customer.customerCode, customer.customerName)"></a>
        </button>
      </td>
    </tr>
  </table>

<div class="modal fade" id="deleteModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <input type="hidden" name="idDelete" id="idDelete">
      <div class="modal-header">
        <h5 class="modal-title">Xác nhận xóa</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Bạn chắc chắn muốn xóa khách hàng <span class="text-danger">{{customerNameDelete}}</span> có mã khách hàng là: <span class="text-danger">{{customerCodeDelete}}</span> ?</p>
      </div>
      <div class="modal-footer">
        <button #closeModal type="button" class="btn btn-secondary" data-mdb-dismiss="modal" >Hủy</button>
        <button type="button" class="btn btn-danger" id="delete_btn" (click)="deleteCustomer(closeModal)"  >Đồng ý</button>
      </div>
    </div>
  </div>
</div>

<nav class="my-4" aria-label="...">
  <ul class="pagination pagination-circle justify-content-center">
    <li class="page-item">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item active" aria-current="page">
      <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
    </li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
</div>
