<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Customer User List</h3>
<table id="customers">
    <thead>
    <tr>
        <th>カイ　いぬ</th>
        <th>CustomerCode</th>
        <th>CustomerName</th>
        <th>ContractId</th>
        <th>ContractDetailId</th>
        <th>AttachServiceId</th>
        <th>AttachServiceName</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer,loop :${customerUserList}">
        <td th:text="${loop.count}"></td>
        <td th:text="${customer.customerCode}"></td>
        <td th:text="${customer.customerName}"></td>
        <td th:text="${customer.contractId}"></td>
        <td th:text="${customer.contractDetailId}"></td>
        <td th:text="${customer.attachServiceId}"></td>
        <td th:text="${customer.attachServiceName}"></td>
    </tr>
    </tbody>
</table>
<div>
    <a th:if="${customerUserList.hasPrevious()}"
       th:href="@{/customer/user(page=${customerUserList.number -1})}">previous</a>
    <span th:text="${customerUserList.number +1}"></span>/
    <span th:text="${customerUserList.totalPages}"></span>
    <a th:if="${customerUserList.hasNext()}"
       th:href="@{/customer/user(page=${customerUserList.number +1})}">Next</a>
</div>

</body>
</html>