<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head >
</head>
<body>
<h3 th:text="#{saving.index.title}">Saving List</h3>
<p>
    <a th:href="@{/saving/create}" th:text="#{add.index.saving}">
        ADD NEW SAVING
    </a>
</p>
<form action="/saving/search" method="post" align="left">
  <button type="submit">Search</button>
  <input type="text" name="name" placeholder="name customer" >
</form>
<a th:href="@{/saving}" th:text="#{back.index.saving}">
    Back to saving list
</a>

<table id = "customers" border="1">
    <thead>
    <tr>
<!--        <th>Stt</th>-->
        <th th:text="#{id.saving}">Mã Số Sổ</th>
        <th th:text="#{time}">Ngày Gửi</th>
        <th th:text="#{period}">Kỳ Hạng</th>
        <th th:text="#{money}">Số Tiền Gửi</th>
        <th th:text="#{name.index.title}">Tên Khách Hàng</th>
        <th th:text="#{edit.index.title}">Edit</th>
        <th th:text="#{delete.index.title}">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="saving : ${savings}">
<!--        <td th:text="${loop.count}"></td>-->
        <td th:text="${saving.savingId}"></td>
        <td th:text="${saving.timeToStart}"></td>
        <td th:text="${saving.term}"></td>
        <td th:text="${saving.deposits}"></td>
        <td th:if="${saving.customer}" th:text="${saving.customer.name}"></td>
        <td th:unless="${saving.customer}"></td>
        <td><a th:href="@{/saving/{savingId}/edit(savingId=${saving.getSavingId()})}" th:text="#{edit.index.title}">edit</a></td>
        <td><a th:href="@{/saving/{savingId}/delete(savingId=${saving.getSavingId()})}" th:text="#{delete.index.title}">delete</a></td>
    </tr>
    </tbody>
</table>

<!--<div>-->
<!--    <a th:if ="${savings.hasPrevious()}"-->
<!--       th:href="@{/saving/list(page=${savings.number -1}, keyword=${keywordValues})}">previous</a>-->
<!--    <span th:text="${savings.number +1}"></span>/-->
<!--    <span th:text="${savings.totalPages}"></span>-->
<!--    <a th:if ="${savings.hasNext()}"-->
<!--       th:href="@{/saving/list(page=${savings.number + 1}, keyword=${keywordValues})}">Next</a>-->
<!--</div>-->
</body>
</html>