<div class="text-center">
  <p class="lead display-5">Danh sách Dịch vụ</p>
  <div>
    <button type="button" class="btn btn-outline-info" data-mdb-ripple-color="dark" routerLink="/service/createVilla">
      Thêm mới dịch vụ villa
    </button>
    <button type="button" class="btn btn-outline-info" data-mdb-ripple-color="dark" routerLink="/service/createHouse">
      Thêm mới dịch vụ houne
    </button>
    <button type="button" class="btn btn-outline-info" data-mdb-ripple-color="dark" onclick="window.location.href='customer-create.html'">
      Thêm mới dịch vụ Room
    </button>
  </div>
</div>
<div class="p-2"></div>
<div class="d-flex">
  <input style="height: 30px" class="form-control me-2" #keyOne type="text" placeholder="Tên sản phẩm"
         aria-label="Search"/>
<!--  <input style="height: 30px" class="form-control me-2" #keyTwo type="text" placeholder="code"-->
<!--         aria-label="Search"/>-->
  <button style="width: 20%; height: 30px" class="btn btn-outline-success my-2 my-sn-0" type="button"
          (click)=search(keyOne.value)>Tìm Kiếm
  </button>
</div>

<table class="table table-striped table-hover">
  <thead class="bg-light">
  <tr>
    <th>Id</th>
    <th>Mã dịch vụ</th>
    <th>Tên dịch vụ</th>
    <th>Diện tích sử dụng</th>
    <th>Chi phí thuê</th>
    <th>Số lượng người tối đa</th>
    <th>Tiêu chuẩn phòng</th>
    <th>Mô tả tiện nghi khác</th>
    <th>Diện tích hồ bơi</th>
    <th>Số tầng</th>
    <th>Kiểu thuê</th>
    <th>sửa</th>
    <th>Xoá</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let service of serviceList | paginate : {itemsPerPage : 2 , currentPage :p }, index as i">
    <td>{{i + 1}}</td>
    <td>{{service.serviceCode}}</td>
    <td>{{service.serviceName}}</td>
    <td>{{service.serviceArea}}</td>
    <td>{{service.serviceCost}}</td>
    <td>{{service.serviceMaxPeople}}</td>
    <td>{{service.standardRoom}}</td>
    <td>{{service.descritionOtherConvenience}}</td>
    <td>{{service.poolArea}}</td>
    <td>{{service.numberOdFloors}}</td>
    <td>{{service.rentType}}</td>

    <td>
      <button>
        <a class="btn btn-warning" [routerLink]="['/service/edit',service.id]">Sửa</a>
      </button>
    </td>
    <td>
      <button>
        <a data-mdb-toggle="modal" data-mdb-target="#deleteModal"
           class="btn btn-warning" data-toggle="modal" data-target="#customer-modal" (click)="sendServiceInfo(service.id, service.serviceCode, service.serviceName)">Xoá
        </a>
      </button>
    </td>
  </tr>
  <pagination-controls (pageChange)="p=$event"></pagination-controls>
<!--modal-->
  <div class="modal fade" id="deleteModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <input type="hidden" name="idDelete" id="idDelete">
        <div class="modal-header">
          <h5 class="modal-title">Xác nhận xóa</h5>
          <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Bạn chắc chắn muốn xóa dich vu<span class="text-danger">{{serviceCodeDelete}}</span> ?</p>
        </div>
        <div class="modal-footer">
          <button #closeModal type="button" class="btn btn-secondary" data-mdb-dismiss="modal" >Hủy</button>
          <button type="button" class="btn btn-danger" id="delete_btn" (click)="deleteService(closeModal)"  >Đồng ý</button>
        </div>
      </div>
    </div>
  </div>
</table>

