<div class="text-center">
  <p class="lead display-5">Thêm mới khách hàng</p>
</div>
<div class=" col-4 mx-auto" >
  <form [formGroup]="customerForm" (ngSubmit)="submitCustomer()" novalidate>
    <div class="modal-body">

      <div class="form-group mb-4" id="customerCode">
        <label class="form-label" for="customerCode">Mã Khách Hàng<span class="text-danger">(*)</span></label>
        <input type="text"  class="form-control" formControlName="customerCode"/>
        <small class="text-danger"></small>
        <p style="color: red" *ngIf="( customerForm.controls.customerCode.hasError( 'required')&&
(customerForm.controls.customerCode.touched|| customerForm.controls.customerCode.dirty))">Mã KH không được để trống</p>
        <p style="color: red" *ngIf="( customerForm.controls.customerCode.hasError( 'pattern')&&
(customerForm.controls.customerCode.touched|| customerForm.controls.customerCode.dirty))">Mã KH không đúng định dạng, vd:KH-XXXX, X là số</p>
      </div>

      <div class="form-group mb-4" id="customerName">
        <label class="form-label" for="customerName">Tên khach hang<span class="text-danger">(*)</span></label>
          <input type="text"  class="form-control" formControlName="customerName"/>
        <small class="text-danger"></small>
        <p style="color: red" *ngIf="( customerForm.controls.customerName.hasError( 'required')&&
(customerForm.controls.customerName.touched|| customerForm.controls.customerName.dirty))">Ten KH không được để trống</p>
      </div>

      <div class="form-group mb-4" id="customerBirthday">
        <label class="form-label" for="customerBirthday">Birthday<span class="text-danger">(*)</span></label>
          <input type="date"  class="form-control" formControlName="customerDateOfBirth"/>
        <small class="text-danger"></small>
        <p style="color: red" *ngIf="( customerForm.controls.customerDateOfBirth.hasError( 'required')&&
(customerForm.controls.customerDateOfBirth.touched|| customerForm.controls.customerDateOfBirth.dirty))">NS KH không được để trống</p>
      </div>
      <div id="customerGender">
        <label class="form-label" for="customerGender">Giới Tính<span class="text-danger">(*)</span></label>
        <select class="form-control mb-4" formControlName="customerGender">
          <option>Nam</option>
          <option>Nữ</option>
        </select>
      </div>

      <div class="form-group mb-4" id="customerIdCard">
        <label class="form-label" for="customerIdCard">CMNN<span class="text-danger">(*)</span></label>
          <input type="text"  class="form-control " formControlName="customerIdCard"/>
        <small class="text-danger"></small>
        <p style="color: red" *ngIf="( customerForm.controls.customerIdCard.hasError( 'required')&&
(customerForm.controls.customerIdCard.touched|| customerForm.controls.customerIdCard.dirty))"> không được để trống</p>

      </div>

      <div class="form-group mb-4" id="customerPhone">
        <label class="form-label" for="customerPhone">Số Điện Thoại<span class="text-danger">(*)</span></label>
          <input type="text"  class="form-control" formControlName="customerPhone"/>
        <small class="text-danger"></small>
        <p style="color: red" *ngIf="( customerForm.controls.customerPhone.hasError( 'required')&&
(customerForm.controls.customerPhone.touched|| customerForm.controls.customerPhone.dirty))"> không được để trống</p>
        <p style="color: red" *ngIf="( customerForm.controls.customerPhone.hasError( 'pattern')&&
(customerForm.controls.customerPhone.touched|| customerForm.controls.customerPhone.dirty))">không đúng định dạng, bắt đầu bằng +84</p>
      </div>

      <div class="form-group mb-4" id="customerEmail">
        <label class="form-label" for="customerEmail">Email<span class="text-danger">(*)</span></label>
          <input type="text"  class="form-control" formControlName="customerEmail"/>
        <small class="text-danger"></small>
        <p style="color: red" *ngIf="( customerForm.controls.customerEmail.hasError( 'required')&&
(customerForm.controls.customerEmail.touched|| customerForm.controls.customerEmail.dirty))"> không được để trống</p>
        <p style="color: red" *ngIf="( customerForm.controls.customerEmail.hasError( 'pattern')&&
(customerForm.controls.customerEmail.touched|| customerForm.controls.customerEmail.dirty))">không đúng định dạng, vd:vana@gmail.com</p>
      </div>

      <div class="form-group mb-4" id="customerAddress">
        <label class="form-label" for="customerAddress">Địa chỉ<span class="text-danger">(*)</span></label>
          <input type="text"  class="form-control" formControlName="customerAddress"/>
        <small class="text-danger"></small>
        <p style="color: red" *ngIf="( customerForm.controls.customerAddress.hasError( 'required')&&
(customerForm.controls.customerAddress.touched|| customerForm.controls.customerAddress.dirty))"> không được để trống</p>
      </div>

      <div id="customerType">
        <label class="form-label" for="customerType">Loại khách<span class="text-danger">(*)</span></label>
        <select class="form-control mb-4" formControlName="customerType">
          <option>Diamond</option>
          <option>Platinium</option>
          <option>Gold</option>
          <option>Silver</option>
          <option>Member</option>
        </select>
      </div>
    </div>
    <div class="modal-footer">
      <input type="submit" class="btn btn-success" value="Thêm mới"/>
    </div>
  </form>
</div>
