<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/layout :: head">
</head>
<body>
<h3>Edit Employee</h3>
<p>
    <a th:href="@{/employee}">
        Back to employee list
    </a>
</p>
<div id="form">
    <form th:action="@{/employee/update}" th:object="${employeeDto} "
          method="POST" novalidate="novalidate">

            <input type="hidden" readonly style="background-color: greenyellow"
                   id="customer-id" name="customer_id" th:field="*{employeeId}" value="customerId">
        <div>
            <label>Name</label>
            <input type="text" th:field="*{employeeName}" value="employeeName"/>
            <div><h6 style="color: red" th:if="${#fields.hasErrors('employeeName')}" th:errors="*{employeeName}"></h6></div>
        </div>
        <div>
            <label>Birthday</label>
            <input type="text" th:field="*{employeeBirthday}" value="employeeBirthday"/>
            <div><h6 style="color: red" th:if="${#fields.hasErrors('employeeBirthday')}" th:errors="*{employeeBirthday}"></h6></div>
        </div>
        <div>
            <label>IdCard</label>
            <input type="text" th:field="*{employeeIdCard}" value="employeeIdCard"/>
            <div><h6 style="color: red" th:if="${#fields.hasErrors('employeeIdCard')}" th:errors="*{employeeIdCard}"></h6></div>
        </div>
        <div>
            <label>Salary</label>
            <input type="text" th:field="*{employeeSalary}" value="employeeSalary"/>
            <div><h6 style="color: red" th:if="${#fields.hasErrors('employeeSalary')}" th:errors="*{employeeSalary}"></h6></div>
        </div>
        <div>
            <label>Phone</label>
            <input type="text" th:field="*{employeePhone}" value="employeePhone"/>
            <div><h6 style="color: red" th:if="${#fields.hasErrors('employeePhone')}" th:errors="*{employeePhone}"></h6></div>
        </div>
        <div>
            <label>Email</label>
            <input type="text" th:field="*{employeeEmail}" value="employeeEmail"/>
            <div><h6 style="color: red" th:if="${#fields.hasErrors('employeeEmail')}" th:errors="*{employeeEmail}"></h6></div>
        </div>
        <div>
            <label>Address</label>
            <input type="text" th:field="*{employeeAddress}" value="employeeAddress"/>
            <div><h6 style="color: red" th:if="${#fields.hasErrors('employeeAddress')}" th:errors="*{employeeAddress}"></h6></div>
        </div>
        <div>
            <label>position</label>
            <select th:field="*{position.positionId}">
                <option th:each="item : ${positionList}"
                        th:value="${item.positionId}" th:text="${item.positionName}">
                </option>
            </select>
        </div>
        <div>
            <label>educationDegree</label>
            <select th:field="*{educationDegree.educationDegreeId}">
                <option th:each="item : ${educationDegreeList}"
                        th:value="${item.educationDegreeId}" th:text="${item.educationDegreeName}">
                </option>
            </select>
        </div>
        <div>
            <label>division</label>
            <select th:field="*{division.divisionId}">
                <option th:each="item : ${divisionList}"
                        th:value="${item.divisionId}" th:text="${item.divisionName}">
                </option>
            </select>
        </div>
        <div>
            <label>user</label>
            <select th:field="*{user.username}">
                <option th:each="item : ${userList}"
                        th:value="${item.username}" th:text="${item.password}">
                </option>
            </select>
        </div>
        <input type="submit" value="Edit"/>
    </form>
</div>
</body>
</html>