<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/layout :: head">
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->

</head>
<body>
<h3>employee List</h3>
<p>
    <a th:href="@{/employee/create}">
        ADD NEW EMPLOYEE
    </a>
</p>
<form action="/employee" method="get" align="left">
    <button type="submit">Search</button>
    <input type="text" name="name" placeholder="name employee" >
</form>
<table id="customers">
    <thead>
    <tr>
        <th>STT</th>
        <th>Id</th>
        <th>Name</th>
        <th>Birthday</th>
        <th>IdCard</th>
        <th>Salary</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Address</th>
        <th>Position</th>
        <th>EducationDegree</th>
        <th>Division</th>
        <th>User</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employee,loop :${employeePage}">
        <td th:text="${loop.count}"></td>
        <td th:text="${employee.employeeId}"></td>
        <td th:text="${employee.employeeName}"></td>
        <td th:text="${employee.employeeBirthday}"></td>
        <td th:text="${employee.employeeIdCard}"></td>
        <td th:text="${employee.employeeSalary}"></td>
        <td th:text="${employee.employeePhone}"></td>
        <td th:text="${employee.employeeEmail}"></td>
        <td th:text="${employee.employeeAddress}"></td>
        <td th:text="${employee.position.getPositionName()}"></td>
        <td th:text="${employee.educationDegree.educationDegreeName}"></td>
        <td th:text="${employee.division.divisionName}"></td>
        <td th:text="${employee.user.username}"></td>
        <td>
            <button>
                <a th:href="@{/employee/edit/{id}(id=${employee.employeeId})}"
                   class="btn btn-warning">edit</a>
            </button>
        </td>
        <td>
            <a onclick="deleteCustomer($(this))" type="button" th:data-id="${employee.employeeId}"
               th:data-name="${employee.employeeName}"
               class="btn btn-warning" data-toggle="modal" data-target="#customer-modal">Delete
            </a>
        </td>
    </tr>
    </tbody>
</table>

<div>
    <a th:if="${employeePage.hasPrevious()}"
       th:href="@{/employee/list(page=${employeePage.number -1}, keyword=${keywordValue})}">previous</a>
    <span th:text="${employeePage.number +1}"></span>/
    <span th:text="${employeePage.totalPages}"></span>
    <a th:if="${employeePage.hasNext()}"
       th:href="@{/employee/list(page=${employeePage.number +1}, keyword=${keywordValue})}">Next</a>
</div>

<!--<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" id="customer-modal">-->
<!--    <div class="modal-dialog" role="document">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>-->
<!--                <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                    <span aria-hidden="true">&times;</span>-->
<!--                </button>-->
<!--            </div>-->
<!--            <form action="/customer/delete" method="post" >-->
<!--                <input type="hidden" id="id-customer">-->
<!--                <div class="modal-body">-->
<!--                    Are you sure delete <span class="text-danger" id="name-customer"></span> ?-->
<!--                </div>-->
<!--                <div class="modal-footer">-->
<!--                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--                    <button type="button" class="btn btn-primary">Save changes</button>-->
<!--                </div>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<footer th:replace="/layout/layout :: footer"></footer>

<!--&lt;!&ndash; Optional JavaScript &ndash;&gt;-->
<!--&lt;!&ndash; jQuery first, then Popper.js, then Bootstrap JS &ndash;&gt;-->
<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>-->
<!--<script>-->
<!--    function deleteCustomer(a) {-->
<!--        let id = a.attr('data-id');-->
<!--        let name = a.attr('data-name');-->
<!--        document.getElementById("id-customer").value = id;-->
<!--        document.getElementById("name-customer").innerText = name;-->
<!--    }-->
<!--</script>-->

</body>
</html>