<!--<div class="text-center">-->
<!--  <p class="lead display-5">Thêm mới khách hàng</p>-->
<!--</div>-->
<!--<div class=" col-4 mx-auto" >-->
<!--  <form [formGroup]="blogForm" (ngSubmit)="timkiem()" novalidate>-->
<!--    <div class="modal-body">-->

<!--      <div id="dienTich">-->
<!--        <label class="form-label" for="dienTich">Hướng<span class="text-danger">(*)</span></label>-->
<!--        <select class="form-control mb-4" formControlName="dienTich">-->
<!--          <option>Tat ca</option>-->
<!--          <option>100m2</option>-->
<!--          <option>200m2</option>-->
<!--          <option>300m2</option>-->
<!--        </select>-->
<!--      </div>-->

<!--      <div id="huong">-->
<!--        <label class="form-label" for="huong">Hướng<span class="text-danger">(*)</span></label>-->
<!--        <select class="form-control mb-4" formControlName="huong">-->
<!--          <option>Đông Nam</option>-->
<!--          <option>Tây Nam</option>-->
<!--          <option>Bắc Đông</option>-->
<!--          <option>Đông Bắc</option>-->
<!--        </select>-->
<!--      </div>-->

<!--      <div id="gia">-->
<!--        <label class="form-label" for="gia">Hướng<span class="text-danger">(*)</span></label>-->
<!--        <select class="form-control mb-4" formControlName="gia">-->
<!--          <option>100000000</option>-->
<!--          <option>200000000</option>-->
<!--          <option>300000000</option>-->
<!--          <option>400000000</option>-->
<!--        </select>-->
<!--      </div>-->

<!--    </div>-->
<!--    <div class="modal-footer">-->
<!--      <input type="submit" class="btn btn-success" value="tim kiem"/>-->
<!--    </div>-->
<!--  </form>-->
<!--</div>-->
