<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
    <form th:action="@{/user/save}" th:object="${userDto} "
          method="POST" novalidate="novalidate">
    <table>
        <tr>
            <td>First name:</td>
            <td><input th:field="*{firstname}"></td>
            <td th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}">Name Error</td>
        </tr>
        <tr>
            <td>Lastn name:</td>
            <td><input th:field="*{lastnname}"></td>
            <td th:if="${#fields.hasErrors('lastnname')}" th:errors="*{lastnname}">Name Error</td>
        </tr>
        <tr>
            <td>Phone number:</td>
            <td><input th:field="*{phonenumber}"></td>
            <td th:if="${#fields.hasErrors('phonenumber')}" th:errors="*{phonenumber}">Name Error</td>
        </tr>
        <tr>
            <td>age:</td>
            <td><input th:field="*{age}"></td>
            <td th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Name Error</td>
        </tr>
        <tr>
            <td>email:</td>
            <td><input th:field="*{email}"></td>
            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name Error</td>
        </tr>
        <tr>
            <td>
                <button type="submit">Submit</button>
            </td>
        </tr>
    </table>
</form>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>