<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<img id="img-of-the-day" height="500" width="500">
<form action="photo/save" method="post" th:object="${photoList}">

    <div>
        <tr>
            <select th:field="*{author}>
        <option th:value=" 1">1</option>
            <option th:value="2">2</option>
            <option th:value="3">3</option>
            <option th:value="4">4</option>
            <option th:value="5">5</option>
            </select>
            <br><br>
            <th>Author:</th>
        </tr>
    </div>
    <div>
        <input type="text" th:field="*{feedback}"/>
        <th>Feedback:</th>
    </div><br><br>
    <div>
        <input type=" submit" value="Comment">
        <td><input type="text" th:field="*{comment}><br>
        </td>
    </div>
    <div>
        <th>like:</th>
        <input type=" text" th:field="*{like}>
    </div>
</form>


</body>
<script>
    let query = 'https://api.nasa.gov/planetary/apod?api_key=gStJ8PIuneHi4mviy838BWXl8TYoXZM0MQvhRM5J';
    let request = new XMLHttpRequest();
    let srcUrl = "";
    request.open('GET', query);
    request.onload = function () {
        if (request.status === 200) {
            let response = JSON.parse(request.responseText);
            srcUrl = response.url;
            document.getElementById('img-of-the-day').setAttribute('src', response.url);
            document.getElementById("pictureUrl").value = srcUrl;
        }
    };
    request.send();
</script>
</html>