<div class="text-center">
  <p class="lead display-5">Danh sách Dịch vụ</p>
  <div>
    <button type="button" class="btn btn-outline-info" data-mdb-ripple-color="dark" routerLink="/service/create">
      Thêm mới dịch vụ villa
    </button>
    <button type="button" class="btn btn-outline-info" data-mdb-ripple-color="dark" onclick="window.location.href='customer-create.html'">
      Thêm mới dịch vụ houne
    </button>
    <button type="button" class="btn btn-outline-info" data-mdb-ripple-color="dark" onclick="window.location.href='customer-create.html'">
      Thêm mới dịch vụ Room
    </button>
  </div>
</div>
<div class="p-2"></div>

<table class="table table-striped table-hover">
  <thead class="bg-light">
  <tr>
    <th>Id</th>
    <th>Mã dịch vụ</th>
    <th>Tên dịch vụ</th>
    <th>Diện tích sử dụng</th>
    <th>Chi phí thuê</th>
    <th>Số lượng người tối đa</th>
    <th>Tiêu chuẩn phòng</th>
    <th>Mô tả tiện nghi khác</th>
    <th>Diện tích hồ bơi</th>
    <th>Số tầng</th>
    <th>Kiểu thuê</th>
    <th>sửa</th>
    <th>Xoá</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let service of serviceList, index as i">
    <td>{{i + 1}}</td>
    <td>{{service.serviceCode}}</td>
    <td>{{service.serviceName}}</td>
    <td>{{service.serviceArea}}</td>
    <td>{{service.serviceCost}}</td>
    <td>{{service.serviceMaxPeople}}</td>
    <td>{{service.standardRoom}}</td>
    <td>{{service.descritionOtherConvenience}}</td>
    <td>{{service.poolArea}}</td>
    <td>{{service.numberOdFloors}}</td>
    <td>{{service.rentType}}</td>

    <td>
      <button>
        <a class="btn btn-warning" [routerLink]="['/service/edit',service.id]">Sửa</a>
      </button>
    </td>
    <td>
      <button>
        <a data-mdb-toggle="modal" data-mdb-target="#deleteModal"
           class="btn btn-warning" data-toggle="modal" data-target="#customer-modal" (click)="sendServiceInfo(service.id, service.serviceCode, service.serviceName)">Xoá
        </a>
      </button>
    </td>
  </tr>

<!--modal-->
  <div class="modal fade" id="deleteModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <input type="hidden" name="idDelete" id="idDelete">
        <div class="modal-header">
          <h5 class="modal-title">Xác nhận xóa</h5>
          <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Bạn chắc chắn muốn xóa dich vu<span class="text-danger">{{serviceCodeDelete}}</span> ?</p>
        </div>
        <div class="modal-footer">
          <button #closeModal type="button" class="btn btn-secondary" data-mdb-dismiss="modal" >Hủy</button>
          <button type="button" class="btn btn-danger" id="delete_btn" (click)="deleteService(closeModal)"  >Đồng ý</button>
        </div>
      </div>
    </div>
  </div>
</table>
<nav class="my-4" aria-label="...">
  <ul class="pagination pagination-circle justify-content-center">
    <li class="page-item">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item active" aria-current="page">
      <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
    </li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
