<div class="text-center">
  <p class="lead display-5">Danh sách Dịch vụ</p>
  <button type="button" class="btn btn-outline-info" data-mdb-ripple-color="dark" onclick="window.location.href='customer-create.html'">
    Thêm mới dịch vụ
  </button>
</div>
<div class="p-2"></div>

<table class="table table-striped table-hover">
  <thead class="bg-light">
  <tr>
    <th>STT</th>
    <th>Id</th>
    <th>Mã dịch vụ</th>
    <th>Tên dịch vụ</th>
    <th>Diện tích sử dụng</th>
    <th>Chi phí thuê</th>
    <th>Số lượng người tối đa</th>
    <th>Số điện thoại</th>
    <th>Tiêu chuẩn phòng</th>
    <th>Mô tả tiện nghi khác</th>
    <th>Diện tích hồ bơi</th>
    <th>Số tầng</th>
    <th>Kiểu thuê</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>1</td>
    <td>1</td>
    <td>DV-0001</td>
    <td>Villa Beach Front</td>
    <td>25000</td>
    <td>10000000</td>
    <td>10</td>
    <td>vip</td>
    <td>Có hồ bơi</td>
    <td>500</td>
    <td>4</td>
    <td>
      <button>
        <a
          class="btn btn-warning">Sửa</a>
      </button>
    </td>
    <td>
      <button>
        <a onclick="deleteCustomer($(this))" type="button"
           class="btn btn-warning" data-toggle="modal" data-target="#customer-modal">Xoá
        </a>
      </button>
    </td>
  </tr>

  <tr>
    <td>2</td>
    <td>2</td>
    <td>DV-0002</td>
    <td>House Princess 01</td>
    <td>14000</td>
    <td>5000000</td>
    <td>7</td>
    <td>vip</td>
    <td>Có thêm bếp nướng</td>
    <td>null</td>
    <td>3</td>
    <td>
      <button>
        <a
          class="btn btn-warning">Sửa</a>
      </button>
    </td>
    <td>
      <button>
        <a onclick="deleteCustomer($(this))" type="button"
           class="btn btn-warning" data-toggle="modal" data-target="#customer-modal">Xoá
        </a>
      </button>
    </td>
  </tr>
  <tr>
    <td>3</td>
    <td>3</td>
    <td>KH-0003</td>
    <td>Room Twin 01</td>
    <td>5000</td>
    <td>1000000</td>
    <td>2</td>
    <td>normal</td>
    <td>Có tivi</td>
    <td>null</td>
    <td>null</td>
    <td>
      <button>
        <a
          class="btn btn-warning">Sửa</a>
      </button>
    </td>
    <td>
      <button>
        <a onclick="deleteCustomer($(this))" type="button"
           class="btn btn-warning" data-toggle="modal" data-target="#customer-modal">Xoá
        </a>
      </button>
    </td>
  </tr>
</table>
<nav class="my-4" aria-label="...">
  <ul class="pagination pagination-circle justify-content-center">
    <li class="page-item">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item active" aria-current="page">
      <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
    </li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
