<div class="text-center">
  <p class="lead display-5">Danh sách Dịch vụ</p>
  <button type="button" class="btn btn-outline-info" data-mdb-ripple-color="dark" onclick="window.location.href='customer-create.html'">
    Thêm mới dịch vụ
  </button>
</div>
<div class="p-2"></div>

<table class="table table-striped table-hover">
  <thead class="bg-light">
  <tr>
    <th>Id</th>
    <th>Mã dịch vụ</th>
    <th>Tên dịch vụ</th>
    <th>Diện tích sử dụng</th>
    <th>Chi phí thuê</th>
    <th>Số lượng người tối đa</th>
    <th>Tiêu chuẩn phòng</th>
    <th>Mô tả tiện nghi khác</th>
    <th>Diện tích hồ bơi</th>
    <th>Số tầng</th>
    <th>Kiểu thuê</th>
    <th>sửa</th>
    <th>Xoá</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let service of serviceList">
    <td>{{service.id}}</td>
    <td>{{service.serviceCode}}</td>
    <td>{{service.serviceName}}</td>
    <td>{{service.serviceArea}}</td>
    <td>{{service.serviceCost}}</td>
    <td>{{service.serviceMaxPeople}}</td>
    <td>{{service.standardRoom}}</td>
    <td>{{service.descritionOtherConvenience}}</td>
    <td>{{service.poolArea}}</td>
    <td>{{service.numberOdFloors}}</td>
    <td>{{service.rentType}}</td>

    <td>
      <button>
        <a
          class="btn btn-warning">Sửa</a>
      </button>
    </td>
    <td>
      <button>
        <a onclick="deleteCustomer($(this))" type="button"
           class="btn btn-warning" data-toggle="modal" data-target="#customer-modal">Xoá
        </a>
      </button>
    </td>
  </tr>


</table>
<nav class="my-4" aria-label="...">
  <ul class="pagination pagination-circle justify-content-center">
    <li class="page-item">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item active" aria-current="page">
      <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
    </li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
