<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<h3>Product List</h3>
<p>
    <a th:href="@{/product/create}">
        ADD NEW CUSTOMER
    </a>
</p>
<form action="/product/search" method="post" align="left">
    <button type="submit">Search</button>
    <input type="text" name="name" placeholder="name product" >
</form>
<a th:href="@{/product}">
    Back to product list
</a>

<table id = "customers">
    <!--    <div class="notify">-->
    <!--        <div th:if="${success}">-->
    <!--            <span th:text="${success}"></span>-->
    <!--        </div>-->
    <!--    </div>-->
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Producer</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row,rowStat : ${productList}">
        <td th:text="${row.getId()}"></td>
        <td th:text="${row.getName()}"></td>
        <td th:text="${row.getPrice()}"></td>
        <td th:text="${row.getDescription()}"></td>
        <td th:text="${row.getProducer()}"></td>
        <td><a th:href="@{/product/{id}/edit(id=${row.getId()})}">edit</a></td>
        <td><a th:href="@{/product/{id}/delete(id=${row.getId()})}">delete</a></td>
        <td><a th:href="@{/product/{id}/view(id=${row.getId()})}">view</a></td>
    </tr>
    </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>